/target
**/*.rs.bk
.env
.env.*
!.env.example
*.pem
*.crt
*.key
*.sqlite
*.sqlite3
/release/
/pertisk-proxy-linux-*
/pertisk-proxy-ingress-linux-*
/.buildx-cache/
/pkg-*
/preinstall.sh
/postinstall.sh
/preremove.sh
/admin/node_modules/
/data/
/certs/
/admin/dist/
*..profraw
*.deb
*.rpm
build_rs_cov.profraw
*kubeconfig*
*credentials*.json
service-account*.json
deploy.local.sh
deploy-arm.local.sh
scripts/*.local.sh
scripts/deploy.local.sh
scripts/deploy-arm.local.sh
pertisk-tunnel-client-linux-amd64
pertisk-tunnel-server-linux-amd64
pertisk-tunnel-client-linux-arm64
pertisk-tunnel-server-linux-arm64
postinstall-tunnel.sh
preinstall-tunnel.sh
preremove-tunnel.sh
