/target
**/*.rs.bk
.env
*.pem
*.crt
*.key
/release/
/pertisk-proxy-linux-*
/pertisk-proxy-ingress-linux-*
/.buildx-cache/
/pkg-*
/preinstall.sh
/postinstall.sh
/preremove.sh
/admin/node_modules/
/data/
/admin/dist/
*..profraw
*.deb
*.rpm
build_rs_cov.profraw
